.nav-back {
  color: #d3455b;
  text-decoration: none;
}

/* Search button */
.btn {
  background-color: #d3455b;
  color: white;
  border-color: #d3455b;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#loading {
  min-height: 70vh;
}
