/* Search input */
.form-control {
  border-color: #d3455b;
}

/* Search button */
.btn {
  background-color: #d3455b;
  color: white;
  border-color: #d3455b;
}

.category a {
  color: black !important;
  text-decoration: none;
}
